body {
    background-image: url(./Currency_Pattern.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
    padding: 30px 8px;
    border: 1px solid #f2f2f2;
    box-sizing: border-box;
    border-radius: 20px;
    z-index: -1;
    display: flex;
    flex-direction: row;
    background-color: black;
    align-items: center;
}

h1 {
    margin-bottom: 0.5rem;
}

.glow {
    font-size: 40px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.833), 0 0 20px rgba(255, 255, 255, 0.833), 0 0 30px #ff602c,
            0 0 40px #ff602c, 0 0 50px #ff602c, 0 0 60px #ff602c,
            0 0 70px #ff602c;
    }

    to {
        text-shadow: 0 0 20px rgba(255, 255, 255, 0.833), 0 0 30px #ffb023, 0 0 40px #ffb023,
            0 0 50px #ffb023, 0 0 60px #ffb023, 0 0 70px #ffb023,
            0 0 80px #ffb023;
    }
}

.equals {
    position: absolute;
    left: calc(50% - (83px / 2));
    font-weight: bold;
    font-size: 2rem;
    width: 83px;
    height: 83px;
    border: none;
    border-radius: 100px;
    color: white;
    background: linear-gradient(
        90deg,
        #ff602c 0%,
        #ffb023 100%
    );
    box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 15px;
}
